*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

:root{
  --color-white: #FFFFFF;
  --color-grey: #12181b;
  --color-blue: #00ffff;
  --color-background1: purple;
  --color-background2: cyan;
}

body{
  background-color: var(--color-grey);
  color: var(--color-white);
  font-size: 1.1rem;

}

.Gradient-background{
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      45deg, 
      var(--color-background1), 
      var(--color-background2));
}


.message-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60% ;
}
.message{
  font-size: 2rem;
  
  
}